<table id='temporary'>
  <tr>
    <th>Taks</th>
    <th>Dayz</th>
    <th>Wek</th>
    <th>Fwek</th>
    <th>Lowz</th>
    <th>Upper</th>
  </tr>
  <% @tasks.each do |task, expected_weekly_hours| %>
    <% high_amount_expected = expected_weekly_hours/7.0 %>
    <% low_amount_expected = high_amount_expected * 0.9 %>
    <% @color = 'green' %>
    <% @color = 'yellow' if amount_done_since(task, 4.weeks.ago) > low_amount_expected %>
    <% @color = 'red' if amount_done_since(task, 4.weeks.ago) > high_amount_expected %>
    <tr>
      <td style="color: <%= @color %>"><%= task.content %></td>
      <td><%= number_with_precision amount_done_since(task, 1.day.ago) %></td>
      <td><%= number_with_precision amount_done_since(task, 1.week.ago) %></td>
      <td><%= number_with_precision amount_done_since(task, 4.weeks.ago) %></td>
      <td><%= number_with_precision(low_amount_expected, precision: 2) %></td>
      <td><%= number_with_precision(high_amount_expected, precision: 2) %></td>
    </tr>
  <% end %>
</table>
