<script src="https://www.google.com/jsapi"></script>

<table id='temporary'>
  <% @tasks.each do |task, expected_weekly_hours| %>
    <% high_amount_expected = expected_weekly_hours/7.0 %>
    <% low_amount_expected = high_amount_expected * 0.9 %>
    <tr>
      <td style="color: <%= report_color(task, low_amount_expected, high_amount_expected) %>"><%= task.content %></td>
      <td><div id='chart-<%= task.id %>'></div></td>
      <td><%= number_to_percentage(amount_done_since(task, 4.weeks.ago) * 100 / high_amount_expected, precision: 0) %></td>
      <script type='text/javascript'>
        google.load('visualization', '1.0', {'packages':['corechart']});
	$(document).ready(function() {
          var data = google.visualization.arrayToDataTable(
	    <%=raw ([["since", "times", "lowz", "upper"]] + [4.weeks.ago, 3.weeks.ago, 2.weeks.ago, 1.week.ago, 1.day.ago].map { |time| [time.to_s, amount_done_since(task, time), low_amount_expected, high_amount_expected] }).to_json %>
	  );
	  var options = {chartArea: {width: '100%', height: '100%'},
	                 vAxis: {gridlines: {color: 'transparent'}},
	                 hAxis: {gridlines: {color: 'transparent'}},
	                 colors: ['blue', 'green', 'red'],
	                 width: 180,
	                 curveType: 'function',
	                 height: 80};
	  var chart = new google.visualization.LineChart(document.getElementById('chart-<%= task.id %>'));
	  chart.draw(data, options);
	});
      </script>
    </tr>
  <% end %>
</table>
